#######################################. # RC Seção toda nova
#### Enclosure Temp Sensor Section ####
#######################################
[thermistor chamber_temp]
temperature1: 25
resistance1: 10000
beta: 3950

[temperature_sensor enclosure_temp]
sensor_type: chamber_temp
sensor_pin: PF5
min_temp: 0
max_temp: 100
gcode_id: C

#[temperature_sensor electronics_temp]
#sensor_type: chamber_temp
#sensor_pin: PF6
#min_temp: 0
#max_temp: 100